{% extends 'base_sous_pages.html' %}

{% block content %}
<form method="post">
<div class = "contenu">
        <div class = "border_contact">
            <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-2">

                <!--Header-->
                <div class="text-center">
                    <h3 class="white-text mb-5 mt-4 font-weight-bold"><strong>CONTACT</strong> <a class="green-text font-weight-bold"><strong> </strong></a></h3>
                </div>

                <!--Body-->
                <div class="md-form">
                    <label for="Form-email5">Nom</label>
                    <input type="text" id="Form-email5" class="form-control white-text">
                </div>

                <div class="md-form">
                    <label for="Form-pass5">Email</label>
                    <input type="text" id="Form-pass5" class="form-control">
                </div>

                <div class="md-form mb-5">
                    <label for="message5">Message</label>
                    <textarea type="text" id="message5" name="message5" rows="2" class="form-control md-textarea white-text"></textarea>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="checkbox7">
                        <label for="checkbox7" class="form-check-label white-text">Accepter notre<a href="#" class="green-text font-weight-bold"> Politique de confidentialité</a></label>
                    </div>
                </div>

                <!--Grid row-->
                <div id = "centrer-btn">

                    <!--Grid column-->
                   
                        <div id ="btn-contact"><button type="button" class="btn btn-success btn-block btn-rounded z-depth-3">Envoyer</button></div>
                    </div>
                    <!--Grid column-->

                
                <!--Grid row-->

            </div>
        </div>
</div>
</form>

{% endblock content %}  