
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-first">
     <h1><span>D</span><span>e</span><span>e</span><span>p</span> <span>Generator</span></h1> <br>
     <div>
        <h2><span><p class="gras_italique_serif"> Notre temps est précieux ! </p></span>
        <span><p class="gras_italique_serif"> On perd souvent un temps fou à chercher des images libres de droits sur internet, a écrire des articles de blog ou trouver rapidement du code fonctionnel.
                  Avec DeepGenerator, vous pourrez réaliser tout cela en quelques clics ! </p></span></h2>
     </div>
     <div class="container-btns">
         <div><button class="btn-first b2">Image</button></div>
         <div><button class="btn-first b2">Blog</button></div>
         <div><button class="btn-first b2">Code</button></div>
     </div>
 </div>

 
{% endblock content %}  