{% extends 'base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}

<section class="vh-100 bg-image"
style="background-image: url('../../static/img/fondhome2.jpg');">
<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px; background-color: rgba(255, 255, 255, 0.900);');">
        <div class="card-body p-5">
          <h2 class="text-uppercase text-center mb-5">Se connecter</h2>

          <form method='POST'>
            {% csrf_token %}

            {% comment %} <div class="form-outline mb-4">
              {{form.username|add_class:'form-control form-control-lg'}}
              {% comment %} {{form.username.label_tag}}  {% endcomment %}

              {% comment %} <input type="text" id="form3Example1cg" class="form-control form-control-lg" /> {% endcomment %}
              {% comment %} <label class="form-label" for="form3Example1cg">Username</label>  {% endcomment %}
              
            {% comment %} </div> {% endcomment %}

            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3cg">Email :</label>
              <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
              {{form.email|add_class:'form-control form-control-lg'}}
              
            </div>

            <div class="form-outline mb-4">
            <label class="form-label" for="form3Example4cg">Mot de passe:</label>
              <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
              {{form.password1|add_class:'form-control'}}
              
              
               {% comment %} {{form.password1.helptext}} {% endcomment %}
            </div>

            {% comment %} <div class="form-outline mb-4">
             
              <label class="form-label" for="form3Example4cdg">Confirmer votre mot de passe :</label>
              <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
              {{form.password2|add_class:'form-control'}}
            </div> {% endcomment %}

            {% comment %} <div class="form-check d-flex justify-content-center mb-5">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
              <label class="form-check-label" for="form2Example3g">
                J'accepte les conditions d'utilisations <a href="#!" class="text-body"><u>en termes de services</u></a>
              </label>
            </div> {% endcomment %}

            <div class="d-flex justify-content-center">
              <button type="submit"
                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Envoyer</button>
            </div>
{% comment %} 
            <p class="text-center text-muted mt-5 mb-0">Vous avez déjà un compte? <a href= {% url 'login' %}
                class="fw-bold text-body"><u>Connectez-vous ici</u></a></p> {% endcomment %}

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
</section>

{% comment %} <div class='container'>
  <form method="post">
      {% csrf_token %}
      {{form|crispy}}
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div> {% endcomment %}

<style>
  .gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }
</style>

</form>
{% endblock content%}