{% extends 'base_sous_pages.html' %}
{% load static %}

{% block content %}

<a  href="{% url 'logout' %}?next={{request.path}}">Déconnexion</a>

<h2> Liste des Images </h2>
{% for image in images %}
     <a href= {% url 'url_imageDetail' image.id %} > {{image.description}} </a>
     <br>
{% endfor %}

<h2> Liste des Articles </h2>
{% for article in articles %}
     <a href= {% url 'url_articleDetail' article.id %} >  {{article.description}} </a>
     <br>
{% endfor %}


<h2> Liste des Codes </h2>
{% for code in codes %}
<a href= {% url 'url_codeDetail' code.id %} > {{code.description}} </a>
<br>
{% endfor %}


{% endblock content %}